@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>

<script src="~/static/js/main.376119f0.js"></script>

<script>
    ReactDOM.render(
      <React.StrictMode>
        <App />
      </React.StrictMode>,
      document.getElementById('root')
    );
</script>
